{% extends 'base.html' %}
<!DOCTYPE html>

    {% block content %}
       <div id="chart-1"></div>

        <table class="table table-hover">
    <thead>
        <tr>
            <th><p>Date</p></th>
            <th><p>Number</p></th>
        </tr>
    </thead>
    <tbody>
    {% for item in list1 %}
    <tr>
    {% if item.1 != 0 %}
        <td><p>{{ item.0 }}</p></td>
        <td><p>{{ item.1 }}</p></td>
    {% endif %}
    </tr>
    {% endfor %}
    </tbody>
    </table>
    {% endblock %}
    {% block script %}

   <script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>
   <script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.fusion.js"></script>

        <script type="text/javascript">
            FusionCharts.ready(function () {
                new FusionCharts({"type": "line",
                    "id": "ex1",
                    "width": "1300",
                    "height": "600",
                    "renderAt": "chart-1",
                    "dataFormat": "json",
                    "dataSource": {"chart": {
                                        "caption": "{{ title|safe }}",
                                        "yaxisname": "{{ yname|safe }}",
                                        "subcaption": "{{ subtitle|safe }}",
                                        "numbersuffix": "{{ ynamesuffix|safe }}",
                                        "rotatelabels": "1",
                                        "setadaptiveymin": "1",
                                        "theme": "fusion"},
                        "data":JSON.parse('{{ data1|safe }}'.replace(/&quot;/,'"')) }});FusionCharts("ex1").render();
            });
        </script>
    {% endblock %}

