{% extends 'base.html' %}
{% block content %}
    <table class="table table-hover">
    <thead>
        <tr>
            <th><p>Name</p></th>
            <th><p>Representer</p></th>
            <th><p>Category</p></th>
            <th><p>Rating</p></th>
            <th><p>E-mail</p></th>
            <th><p>Phone Number</p></th>
            <th><p>Details</p></th>
        </tr>
    </thead>
    <tbody>
    {% for item in list1 %}
    <tr>
        <td><p>{{ item.corp_name }}</p></td>
        <td><p>{{ item.corp_rep }}</p></td>
        <td><p>{{ item.cat }}</p></td>
        <td><p>{{ item.corp_rating }}</p></td>
        <td><p>{{ item.corp_email }}</p></td>
        <td><p>{{ item.corp_phone }}</p></td>
        <td><p>{{ item.corp_details }}</p></td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}