{% extends 'base.html' %}
{% block content %}
    <table class="table table-hover">
    <thead>
        <tr>
            <th><p>Corporation Name</p></th>
            <th><p>Category</p></th>
            <th><p>E-mail</p></th>
            <th><p>Phone</p></th>
            <th><p>Rating</p></th>
            <th><p>Location</p></th>
            <th><p>Details</p></th>
        </tr>
    </thead>
    <tbody>
    {% for item in list1 %}
    <tr>
        <td><p>{{ item.corporation.corp_name }}</p></td>
        <td><p>{{ item.corporation.cat }}</p></td>
        <td><p>{{ item.corporation.corp_email }}</p></td>
        <td><p>{{ item.corporation.corp_phone }}</p></td>
        <td><p>{{ item.corporation.corp_rating }}</p></td>
        <td><p>{{ item.location }}</p></td>
        <td><p>{{ item.corporation.corp_details }}</p></td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}