{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Simple Sidebar - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'sidebar/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'sidebar/simple-sidebar.css' %}" rel="stylesheet">
    {% block css %}

    {% endblock %}
</head>

<body >

<nav class="navbar navbar-default" >
    <div class="container-fluid">

    <div class="navbar-header" align="left">
        <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Ouma</a>

    </div>
    <ul class="nav navbar-light">
        <li style="padding-right: 50px"><a href="http://tlhclk.pythonanywhere.com/">Home</a></li>
        <li style="padding-right: 750px"><a href="{{ item_link }}">{{ item_title }}</a></li>
    </ul>
    <div class="navbar-right dropdown">
    {% if user.username == '' %}
    <a href="http://tlhclk.pythonanywhere.com/login/">LOGIN</a>
    {% else %}
        <a href="http://tlhclk.pythonanywhere.com/login/" class="nav-link dropdown-toggle" id="dropdown1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ user.first_name }} - {{ user.last_name }}</a>
    <div class="dropdown-menu" aria-labelledby="dropdown1">
        <a href="http://tlhclk.pythonanywhere.com/individual/appointment_list/i" class="dropdown-item">My Appointments</a>
        <a href="http://tlhclk.pythonanywhere.com/profile/{% if user.individual_id_id %}{{ user.individual_id_id }}{% else %}{{ user.corporation_id_id }}{% endif %}" class="dropdown-item">{{ user.first_name }} - {{ user.last_name }}</a>
        <a href="http://tlhclk.pythonanywhere.com/logout/" class="dropdown-item">LOGOUT</a>
    </div>{% endif %}
</div>
    </div>
</nav>
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li><p>Corporation Lists</p>
                    <ul>
                        <li><a href="http://tlhclk.pythonanywhere.com/corporation/corporation_list/">Corporation List</a></li>
                        <li><a href="http://tlhclk.pythonanywhere.com/corporation/corp_loc_list/">Corporation Locations List</a></li>
                        <li><a href="http://tlhclk.pythonanywhere.com/corporation/app_hour_list/">Appointment Hour List</a></li>
                        <li><a href="http://tlhclk.pythonanywhere.com/corporation/corp_service_list/">Corporation Services List</a></li>
                        <li><a href="http://tlhclk.pythonanywhere.com/corporation/appointment_list/c">Appointment List</a></li>
                        <li><a href="http://tlhclk.pythonanywhere.com/corporation/corporation_add/">Corporation Add</a></li>
                    </ul></li>
                <li><p>Individual Lists</p>
                    <ul>
                        <li><a href="http://tlhclk.pythonanywhere.com/individual/individual_list/">Individual List</a></li>
                        <li><a href="http://tlhclk.pythonanywhere.com/individual/individual_add/">Individual Add</a></li>
                        <li><a href="http://tlhclk.pythonanywhere.com/individual/appointment_list/i">Appointment List</a></li>
                        <li><a href="http://tlhclk.pythonanywhere.com/record/make_appointment/">Make An Appointmnet</a></li>
                    </ul></li>
                {% if user.username != '' %}
                <li><p>Main Lists
                    <ul>
                        <li><a href="http://tlhclk.pythonanywhere.com/main/street_list/">Street List</a></li>
                        <li><a href="http://tlhclk.pythonanywhere.com/main/service_list/">Service List</a></li>
                    </ul></li>
                {% endif %}
                <li><p>Record Lists</p>
                    <ul>
{#                        <li><a href="http://tlhclk.pythonanywhere.com/record/appointment_list/">Appointment List</a></li>#}
                        <li><a href="http://tlhclk.pythonanywhere.com/record/busy_day/">Most Busy Day</a></li>
                        <li><a href="http://tlhclk.pythonanywhere.com/record/most_popular_service/">Most Popular Service</a></li>
                        <li><a href="http://tlhclk.pythonanywhere.com/record/most_appointer/">Most Appointer</a></li>
                        <li><a href="http://tlhclk.pythonanywhere.com/record/busy_hour/">Most Busy Hour</a></li>
                        <li><a href="http://tlhclk.pythonanywhere.com/record/faa/">Find Available Appointment</a></li>
                        <li><a href="http://tlhclk.pythonanywhere.com/record/show_close_corp/t">Show Close Corp</a></li>
                        <li><a href="http://tlhclk.pythonanywhere.com/record/rating_list/">Rating List</a></li>
{#                        <li><a href="http://tlhclk.pythonanywhere.com/record/complaint/">Complaint</a></li>#}
                    </ul></li>
                {% if user.is_superuser %}
                <li><p>User Lists</p>
                    <ul>
                        <li><a href="http://tlhclk.pythonanywhere.com/user/user_list/">User List</a></li>
                    </ul></li>
                {% endif %}
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper" align="center">
            {% block content %}

            {% endblock %}

        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'sidebar/jquery.min.js' %}"></script>
    <script src="{% static 'sidebar/bootstrap.bundle.min.js' %}"></script>
{% block script %}

{% endblock %}
    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });$("#menu-toggle2").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
