{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
                <h1>Wellcome To Ouma</h1>
                <p>This website builder for customers who want to make an appointment for any businesses.</p>
                <p>You can travel inside of the website after click
             {% if user.username == '' %}
                <a href="http://tlhclk.pythonanywhere.com/login/">LOGIN</a>
                {% else %}
                    <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle2">Ouma</a></p>

                {% endif %}
            </div>
{% endblock %}