<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>

<ul>
    <li>Corporation Lists</li>
        <ul>
            <li><a href="http://127.0.0.2:8000/corporation/corporation_list/">Corporation List</a></li>
            <li><a href="http://127.0.0.2:8000/corporation/corp_loc_list/">Corporation Locations List</a></li>
            <li><a href="http://127.0.0.2:8000/corporation/app_hour_list/">Appointment Hour List</a></li>
            <li><a href="http://127.0.0.2:8000/corporation/corp_service_list/">Corporation Services List</a></li>
            <li><a href="http://127.0.0.2:8000/corporation/appointment_list/c">Appointment List</a></li>
        </ul>
    <li>Individual Lists</li>
        <ul>
            <li><a href="http://127.0.0.2:8000/individual/individual_list/">Individual List</a></li>
            <li><a href="http://127.0.0.2:8000/individual/appointment_list/i">Appointment List</a></li>
        </ul>
    <li>Main Lists</li>
        <ul>
            <li><a href="http://127.0.0.2:8000/main/province_list/">Province List</a></li>
            <li><a href="http://127.0.0.2:8000/main/town_list/">Town List</a></li>
            <li><a href="http://127.0.0.2:8000/main/district_list/">District List</a></li>
            <li><a href="http://127.0.0.2:8000/main/street_list/">Street List</a></li>
            <li><a href="http://127.0.0.2:8000/main/service_list/">Service List</a></li>
        </ul>
    <li>Record Lists</li>
        <ul>
            <li><a href="http://127.0.0.2:8000/record/appointment_list/">Appointment List</a></li>
            <li><a href="http://127.0.0.2:8000/record/busy_day/">Most Busy Day</a></li>
            <li><a href="http://127.0.0.2:8000/record/most_popular_service/">Most Popular Service</a></li>
            <li><a href="http://127.0.0.2:8000/record/most_appointer/">Most Appointer</a></li>
            <li><a href="http://127.0.0.2:8000/record/busy_hour/">Most Busy Hour</a></li>
            <li><a href="http://127.0.0.2:8000/record/faa/">Find Available Appointment</a></li>
            <li><a href="http://127.0.0.2:8000/record/show_close_corp/t">Show Close Corp</a></li>
            <li><a href="http://127.0.0.2:8000/record/rating_list/">Rating List</a></li>
            <li><a href="http://127.0.0.2:8000/record/complaint/">complaint</a></li>

        </ul>
    <li>User Lists</li>
        <ul>
            <li><a href="http://127.0.0.2:8000/user/user_list/">User List</a></li>

        </ul>
</ul>
<p>
    {% if user.username == '' %}
    <p><a href="http://127.0.0.2:8000/login/">LOGIN</a></p>
{% else %}
    <p>{{ user }} - <a href="http://127.0.0.2:8000/logout/">LOGOUT</a></p>
{% endif %}
</p>


</body>
</html>
