{% extends 'base.html' %}

    {% block css %}
    <link href="//cdn.bootcss.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.44/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    {% endblock %}
{% block content %}
<h1>{{ title }}</h1>
    <form method="POST" class="post-form">{% csrf_token %}
        <table>
            <thead>
            <tr>
                <th></th><th></th><th></th>
            </tr>
            </thead>
            <tbody>
                <tr>
                <td>Select a Corporation</td><td>{{ form.corp_loc_id }}</td><td></td></tr>
                <tr>
                    <td>Select Start Time</td><td><div class='input-group date' id='datetimepicker1' align="left">{{ form.start_time }}<span class="fa fa-calendar start_date_calendar" aria-hidden="true"></span></div></td><td></td>
                </tr>
                <tr>
                    <td>Select End Time</td><td><div class='input-group date' id='datetimepicker2' align="left">{{ form.end_time }}<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span></div></td><td></td>
                </tr>
                <tr>
                    <td>Time of an Appointment</td><td>{{ form.amount }}</td><td></td>
                </tr>
                <tr>
                    <td></td><td></td><td><button type="submit" class="save btn btn-default">Save</button></td>
                </tr>
            </tbody>
        </table>
    </form>

{% endblock %}
{% block script %}
{#    <script src="https://cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>#}
{#    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>#}
    <script src="https://cdn.bootcss.com/moment.js/2.17.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>

        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker({
            format:'YYYY-MM-DD HH:mm:ss'
        });
                $('#datetimepicker2').datetimepicker({
            format:'YYYY-MM-DD HH:mm:ss'
        });
            });
        </script>
{% endblock %}
