{% extends 'base.html' %}
{% block content %}
    <table class="table table-hover">
    <thead>
        <tr>
            <th><p>Corporation Name</p></th>
            <th><p>Service</p></th>
            <th><p>Details</p></th>
        </tr>
    </thead>
    <tbody>
    {% for item in list1 %}
    <tr>
        <td><p>{{ item.corporation_id }}</p></td>
        <td><p>{{ item.service_id }}</p></td>
        <td><p>{{ item.details }}</p></td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}