{% extends 'base.html' %}
{% block content %}
    <table class="table table-hover">
    <thead>
        <tr>
            <th><p>First Name</p></th>
            <th><p>Last Name</p></th>
            <th><p>E-mail</p></th>
            <th><p>Is Staff</p></th>
            <th><p>Is Superuser</p></th>
            <th><p>Date Joined</p></th>
            <th><p>Customer - Corporation</p></th>
        </tr>
    </thead>
    <tbody>
    {% for item in list1 %}
    <tr>
        <td><p>{{ item.first_name }}</p></td>
        <td><p>{{ item.last_name }}</p></td>
        <td><p>{{ item.email }}</p></td>
        <td><p>{{ item.is_staff }}</p></td>
        <td><p>{{ item.is_superuser }}</p></td>
        <td><p>{{ item.date_joined }}</p></td>
        <td><p>{{ item.individual_id }} - {{ item.corporation_id }}</p></td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}